<%- include ("./templates/header") %>

    <section class="encabezado-coleccion cover-coleccion-breakingbad contenedor-body">
        <h2>BREAKING BAD</h2>
    </section>

    <section class="contenedor-body">
        <div class="filtro-productos d-flex-center">
            <p>Filtrar por:</p>
            <select name="filtro" id="filtroBrBa">
               
                <a href="/breakingbad">   <option class="brbaOp" value="relevancia">Relevancia</option></a>
                <a href="/breakingbad/p1">     <option class="brbaOp" value="precio-alto">Precio - Más alto a más bajo</option></a>
                    <a href="/breakingbad/p2">     <option class="brbaOp" value="precio-bajo">Precio - Más bajo a más alto</option></a>
                        <a href="/breakingbad/alf">     <option class="brbaOp" value="alfabetico">Alfabético</option></a>
        </select>
        </div>
        <div class="grid-productos">
            <%  for(var i = 0; i<productos.length; i++)  {            %>

                <div class="producto">
                    <a href="/producto/<%= productos[i]._id  %>"> <img src="https://drive.google.com/uc?export=view&id=<%= productos[i].Img_Id%>" alt=""></a>

                    <div class="descripcion-producto">
                        <span class="coleccion-producto"> <%= productos[i].Collection_Name  %></span>
                        <p>
                            <%= productos[i].Name  %>
                        </p>
                        <b>$<%= productos[i].Price  %>.00</b>
                    </div>
                </div>
                <%  }          %>
        </div>
    </section>

    <%- include ("./templates/footer") %>