<%- include ("./templates/header") %>

    <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/img/alien.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/img/spiderman1.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/img/ashlee-brown-mzjZ4TPhjFs-unsplash.jpg" alt="Third slide">
            </div>
        </div>
    </div>
    <div class="bienvenida">
        <h2 class="subtitulo">Te damos la bienvenida a </h2>
        <div class="logo-bienvenida d-flex-center">
            <i class="fas fa-compass"></i>
            <p class="texto-logo">L O Z A</p>
        </div>
        <h3>Sea of collectors</h3>
    </div>

    <section class="contenedor-body">
        <h2 class="subtitulo">Funkos destacados</h2>
        <div class="grid-productos">

            <%  for(var i = 0; i<4; i++)  {            %>

                <div class="producto">
                    <a href="#"> <img src="https://drive.google.com/uc?export=view&id=<%= productosDestacados[i].Img_Id%>" alt=""></a>

                    <div class="descripcion-producto">
                        <span class="coleccion-producto"> <%= productosDestacados[i].Collection_Name  %></span>
                        <p>
                            <%= productosDestacados[i].Name  %>
                        </p>
                        <b>$<%= productosDestacados[i].Price  %>.00</b>
                    </div>
                </div>
                <%  }          %>

        </div>
    </section>
    <h2 class="subtitulo">Calidad LOZA</h2>
    <section class="info-loza contenedor-body">

        <div>
            <i class="fas fa-heart"></i>
            <div class="texto-info">
                <b>Tus Funkos favoritos en un solo lugar</b>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque enim asperiores sed eum, ratione accusantium officiis placeat ab excepturi maiores eaque consequatur aut! Sunt inventore fugit repellat nihil cumque aspernatur!</p>
            </div>
        </div>

        <div>
            <i class="fas fa-lock"></i>
            <div class="texto-info">
                <b>Seguridad en todas tus compras</b>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque enim asperiores sed eum, ratione accusantium officiis placeat ab excepturi maiores eaque consequatur aut! Sunt inventore fugit repellat nihil cumque aspernatur!</p>
            </div>
        </div>

        <div>
            <i class="fas fa-truck"></i>
            <div class="texto-info">
                <b>Envío gratis a toda la república</b>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque enim asperiores sed eum, ratione accusantium officiis placeat ab excepturi maiores eaque consequatur aut! Sunt inventore fugit repellat nihil cumque aspernatur!</p>
            </div>
        </div>
    </section>

    <h2 class="subtitulo">Algunos comentarios de nuestros clientes</h2>
    <section class="contenedor-body reviews-clientes">
        <div class="review">
            <img src="../img/review-obiwan.png" alt="review-image">
            <div class="texto-review">
                <span>¡Excelente producto!</span>
                <div class="datos-review">
                    <p><b>Gran Z.</b> 12/07/2021</p>

                    <i>El paquete llegó en perfectas condiciones, la figura es excelente. Sin duda compraré más en esta tienda.</i>
                    <div class="puntuacion">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="review">
            <img src="../img/review-heisenberg.png" alt="review-image">
            <div class="texto-review">
                <span>¡Por fin!</span>
                <div class="datos-review">
                    <p><b>Víctor Curiel.</b> 13/03/2020</p>

                    <i>Como un gran fan de Breaking Bad, busqué este funko por años, pero sólo estaba disponible a precios desorbitados. Por fin en Loza pude encontrarlo a un precio razonable. Sin duda esta es una de las mejores tiendas para comprar funkos!!</i>
                    <div class="puntuacion">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <%- include ("./templates/footer") %>