<%- include ("./templates/header") %>

    <section class="encabezado-coleccion cover-coleccion-mrobot contenedor-body">
        <h2>MR. ROBOT</h2>
    </section>

    <section class="contenedor-body">
        <div class="filtro-productos d-flex-center">
            <p>Filtrar por:</p>
            <a href= "/mrrobot" class="btn btn-info" style="margin-right: 15px;"> Relevancia</a>
            <a href= "/mrrobot/p1"  class="btn btn-info" style="margin-right: 15px;"> Precio - Más alto a más bajo</a>
            <a href= "/mrrobot/p2"  class="btn btn-info" style="margin-right: 15px;"> Precio - Más bajo a más alto</a>
            <a href= "/mrrobot/alf"  class="btn btn-info" style="margin-right: 15px;"> Alfabético</a>
        </div>
        <div class="grid-productos">
            <%  for(var i = 0; i<productos.length; i++)  {            %>

                <div class="producto">
                    <a href="/producto/<%= productos[i]._id  %>">> <img src="https://drive.google.com/uc?export=view&id=<%= productos[i].Img_Id%>" alt=""></a>

                    <div class="descripcion-producto">
                        <span class="coleccion-producto"> <%= productos[i].Collection_Name  %></span>
                        <p>
                            <%= productos[i].Name  %>
                        </p>
                        <b>$<%= productos[i].Price  %>.00</b>
                    </div>
                </div>
                <%  }          %>
        </div>
    </section>

    <%- include ("./templates/header") %>